{
  "extends": [
    "airbnb",
    "react-app"
  ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/prefer-default-export": 0,
    "no-confusing-arrow": "error",
    "object-curly-spacing": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": [
          "node_modules",
          "./src"
        ]
      }
    }
  }
}

